.blockList {
  width: 330px;
  height: 95vh;
  margin-top: 2.5vh;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  border: solid 1px #444;
}

.block {
  margin: 3px;
}
